.chat-input-field {
    display: flex;
    padding: 15px;
    background-color: lightgrey;
    border-radius: 15px;
    gap: 15px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3), -2px -2px 2px rgba(0,0,0,0.3);
}

.univ-input {
    flex-grow: 1;
    font-size: large;
    border-color: transparent;
}

.send-button {
    font-size: large;
    background-color: rgb(35, 125, 252);
    border-radius: 15px;
    color: white;
    border-color: transparent;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;

}

.send-button:hover {
    background-color: rgb(31, 108, 214);
}

