.friend-list {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 10px;
    gap: 10px;
    width: 30%;
    border-right-color: grey;
    border-right-width: 1px;
    border-right-style: solid;
}