.received-friend-request {
    padding: 15px;
    background-color: rgb(248, 205, 14);
    color: rgb(54, 54, 54);
    font-size: large;
    border-radius: 15px;
    border-color: transparent;
    gap: 15px;
}
