.app {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    height: 100vh;
}

.topnav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(35, 125, 252);
    color: white;
    font-size: xx-large;
    padding-top: 3px;
    padding-bottom: 3px;
    font-family: georgia
}
